---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
      {% if page.jpdf %}
        <a
          href="{{ '.pdf' | prepend: page.jpdf | prepend: '/' |prepend: page.jsujet | prepend: 'assets/pdf/' | relative_url }}"
          target="_blank"
          rel="noopener noreferrer"
          class="float-right"
          ><i class="fa-solid fa-file-pdf"></i
        ></a>
      {% endif %}
    </h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    <div id="markdown-content">
      {% if page.jpdf %}
        <h2 class="post-title"><a href="{{ '.pdf' | prepend: page.jpdf | prepend: '/' | prepend: page.jsujet | prepend: 'assets/pdf/' | relative_url }}" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-file-pdf"></i></a></h2>
        {% if page.jpdfsauf %}
          {% else %}
          <iframe src="{{ '.pdf' | prepend: page.jpdf | prepend: '/' | prepend: page.jsujet | prepend: 'assets/pdf/' | relative_url }}" width="100%" height="700" frameborder="no" border="0" marginwidth="0" marginheight="0"></iframe>
        {% endif %}
      {% endif %}
      {{ content }}
      {% if page.lnmo %}
        {% capture lnmo %}{% include mdcode/lnmoall.md %}{% endcapture %}
        {{ lnmo | markdownify }}
      {% endif %}
    </div>
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
